
  <h1>Notes about {{assignment.name}}</h1>

  <div class="existingNotes">
    <blockquote>
      <p>{{assignment.notes}}</p>
    </blockquote>

  <div class="textarea">
    <textarea rows="10" cols="40" class="text" ng-model="moduleNotes" placeholder={{assignment.notes}}>
    </textarea>
  </div>

  <div class="input-group">
    <button class="btn btn-success" ng-click="takeNotes(assignment._id)" type="submit">Submit</button>

    <a href="#!/assignments" type="button" class="btn btn-success" aria-label="Notes">
      <span aria-hidden="true">Back to list</span>
    </a>

  </div>
