
  <h1>Notes about {{assignment.name}}</h1>

  <div class="existingNotes">
    <blockquote>
      <p>{{assignment.notes}}</p>
    </blockquote>

  <div class="input-group">
    <input class="text" ng-model="moduleNotes"
    <textarea placeholder={{assignment.notes}}>
    </textarea>

    <button class="btn btn-success" ng-click="takeNotes(assignment._id)" type="submit">Submit</button>
  </div>

  <div class="finished">
    <a href="#!/assignments" type="button" class="btn btn-success" aria-label="Notes">
      <span aria-hidden="true">Back to list</span>
    </button>
  </div>
